[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "public"]
	path = public
	url = https://github.com/guillem-gelabert/guillem-gelabert.github.io
	branch = master
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
